<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <title>Eat Da Burger</title>
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
    <div class="container">
        {{!-- image and title --}}
        <div class="row">
            <div class="col-md-12">
                <img src="/assets/img/burger.jpg" alt="picture of a burger">
                <h2>Eat Da Burger</h2>
            </div>
        </div>
        {{!-- information about the burgers --}}
        <div class="row">
            <div class="col-md-5" id="beforeDiv">

            </div>
            <div class="col-md-2" id="buttonsDiv">

            </div>
            <div class="col-md-5" id="afterDiv">

            </div>
        </div>
        {{!-- textbox and submit button area --}}
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <textarea id="burgerName" cols="50" rows="4"></textarea>
                <br>
                <br>
                <button class="btn btn-success" id="button">submit</button>
            </div>
        </div>
    </div>

    {{!-- {{{ body }}} --}}
</body>
    <script src="/assets/javascript/burger_html.js"></script>
    <script>
        var button = $("#button");
        var textArea = $("#burgerName");
        var beforeDisplay = $("#beforeDiv");
        var beforeBtn = $("#buttonsDiv");
        var afterDisplay = $("#afterDiv");
        button.on("click", function(){
            var burgerName = textArea.val();
            aPostCall(burgerName);
        });
        function aPostCall(burgerName){
            var burger = {
                name: burgerName
            }
            $.ajax("/api/burger",{
                type : "POST",
                data : burger
            }).then(function(res){
                
            });
        }
        function aGetCall(){
            $.ajax("/api/burger",{
                type : "GET"
            }).then(function(res){
                displayBurgers(res);
            })
        }
        function displayBurgers(burgers){
            for(i=0; i < burgers.length; i++){
                var newDiv = $("<div>");
                newDiv.html(burgers[i].id + ". " + burgers[i].burger_name);
                newDiv.addClass("burgertags");
                if(burgers[i].devoured){
                    
                    afterDisplay.append(newDiv);
                }
                else{
                    beforeDisplay.append(newDiv);
                    var newBtn = $("<button>");
                    newBtn.text("Devoure!!");
                    newBtn.attr("burgerId", burgers[i].id);
                    newBtn.addClass("btn btn-danger buttons");
                    beforeBtn.append(newBtn);

                }
                
            }
        }
        aGetCall();
    </script>
</html>